<p style="color: red"><%= notice %></p>
<h1>ChatRooms</h1>

<%= turbo_frame_tag :chat_rooms do %>
  <%= render @chat_rooms %>
<% end %>

<%= turbo_frame_tag :pagination,
                    loading: :lazy,
                    src: chat_rooms_path(format: :turbo_stream)
%>

