<!--<div class="container h-screen p-0">-->
<div class="container h-screen flex flex-col md:flex-row">
  <!--  <div class="md:w-1/2 w-full md:h-full h-2/5 bg-gray-700 flex justify-center items-center;">-->
  <div class="left-top-panel">
    <div class="logo">
      <%= image_tag 'logo.png', alt: 'ChatConn Logo' %>
    </div>
  </div>
  <div class="right-bottom-panel">
    <h2><%= t('devise.sessions.new.sign_in') %></h2>
  </div>
</div>

